!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

</head>

<body>
    <header class="header">
        <div class="container">

            <div class="logo">
                <h1>___</h1>
                <h1>Gestion</h1>
                <h1>Escolar</h1>
            </div>
            <nav class="menu">

                <a href="principal">Inicio</a>
                <a href="#">Ativo</a>
                <a href="login">Cerrar sesion</a>
            </nav>
        </div>
    </header>

    <!--	--------------->


    <div class="container overflow-hidden text-center">
        <br><br><br><br>

        <div class="row gy-5">
            <div class="contenedor">
                <div class="contenedor-conciertos">

                    <div class="banner" style="background-image: url('./assets/fondo.jpg')">
                        <h3>Horarios de clases</h3><br>
                        <a><button class="boton" routerLink="horario">Ingresar</button></a>
                    </div>

                    <div class="banner" style="background-image: url('./assets/fondo.jpg')">
                        <h3>Lista de docentes</h3><br>
                        <a><button class="boton" routerLink="docente">Ingresar</button></a>
                    </div>

                    <div class="banner" style="background-image: url('./assets/fondo.jpg')">
                        <h3>Generar orden de pago</h3><br>
                        <a><button class="boton" routerLink="ordenes">Ingresar</button></a>
                    </div>

                    <div class="banner" style="background-image: url('./assets/fondo.jpg')">
                        <h3>Ver usuarios registrados</h3><br>
                        <a><button class="boton" routerLink="usuario">Ingresar</button></a>
                    </div>

                    <div class="banner" style="background-image: url('./assets/fondo.jpg')">
                        <h3>Cursos</h3><br>
                        <a><button class="boton" routerLink="curso">Ingresar</button></a>
                    </div>

                    <div class="banner" style="background-image: url('./assets/fondo.jpg')">
                        <h3>Salir del sistema</h3><br>
                        <a href="login"><button class="boton">Ingresar</button></a>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class="container my-5">
        <!-- Footer -->
        <br><br>
        <footer class="text-center text-white" style="background-color: #2874A6">
            <!-- Grid container -->
            <div class="container">

                <!-- Section: Text -->
                <section class="mb-5">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-8">
                            <br>
                            <p>
                                Todos los derechos reservados.
                            </p>
                            <p>
                                &copy; Copyright 2023 - Grupo#8
                            </p>
                        </div>
                    </div>
                </section>
                <!-- Section: Text -->

                <!-- Section: Social -->
                <section class="text-center mb-5">
                    <a href="https://www.facebook.com/" class="text-white me-4">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-github"></i>
                    </a>
                </section>
                <!-- Section: Social -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                © 2020 Copyright:
                <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a
          >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container -->
</body>
</html>